{% extends 'base.html.twig' %}

{% block title %}Zaloguj się | CampMaker.com{% endblock %}

{% block body %}
<div class="d-flex justify-content-center" style="margin-top: 6rem;">
    <form action="{{ path('login') }}" method="post" class="d-flex flex-column col-3">
        <label for="username" class="pt-2">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password" class="pt-2">Password:</label>
        <input type="password" id="password" name="_password">

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

        {% if error %}
        <div style="font-size: 0.7rem; color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <button type="submit" class="mt-2">login</button>
    </form>
</div>
{% endblock %}