<nav class="nav container justify-content-between">
    <div>
        <a class="nav-link active fs-4" aria-current="page" href="{{ path('home')}}">CampMaker</a>
    </div>
    <div class="d-flex">
        <a class="nav-link fs-4" href="{{ path('events') }}">Wydarzenia</a>
        <a class="nav-link fs-4" href="{{ path('login') }}">Zaloguj się</a>
        <a class="nav-link fs-4" href="{{ path('register')}}">Zarejestruj się</a>
        {# <a class="nav-link disabled" aria-disabled="true">Disabled</a> #}
    </div>
</nav>