{% extends 'base.html.twig' %}

{% block title %}Nazwa Twojego wyjazdu | CampMaker.com {% endblock %}

{% block body %}
<div class="container">
    <h2>Panel poświęcony konkretnemu wyjazdowi</h2>
</div>
{% endblock %}