{% extends 'base.html.twig' %}

{% block title %}Twoje wyjazdy | CampMaker.com {% endblock %}

{% block body %}
<div class="container">
    <div>
        <h1>Twoje wyjazdy</h1>
        <hr>
        <div class="d-flex">
            <div class="d-flex flex-column w-25" style="min-width: 25%;">
                <a href="{{ path('app_participant') }}"><button class="btn btn-primary mb-2">Twoje
                        wydarzenia</button></a>
                <hr>
                <a href="{{ path('app_participant') }}"><button class="btn btn-primary mb-2">Ustawienia</button></a>
            </div>
            <div class="w-auto">
                <h3>Nadchodzące</h3>
                <div class="accordion" id="accordionPanelsStayOpenExample"
                    style="min-width: 600px; width: 800px ;max-width: 1000px">
                    <div class="accordion-item" style="min-width: 100%">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                <strong>Twój pierwszy wyjazd</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <p>Wrocław | 01.01.2023 - 07.01.2023 | Pozostało 186 dni</p>
                                <p><strong>Status: </strong>✅ Zapis potwierdzony</p>
                                <p><strong>Płatności: </strong> III Rata 400zł do 11.12.2022</p>
                                <p><strong>Najbliższe przypomnienie: </strong> III Rata 400zł do 11.12.2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                <strong>Twój drugi wyjazd</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="accordion-body">
                                    <p>Wrocław | 01.01.2023 - 07.01.2023 | Pozostało 186 dni</p>
                                    <p><strong>Status: </strong>✅ Zapis potwierdzony</p>
                                    <p><strong>Płatności: </strong> III Rata 400zł do 11.12.2022</p>
                                    <p><strong>Najbliższe przypomnienie: </strong> Zaświadczenie od lekarza</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="min-width: 100%">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                <strong>Twój trzeci wyjazd</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="accordion-body">
                                    <p>Wrocław | 01.01.2023 - 07.01.2023 | Pozostało 186 dni</p>
                                    <p><strong>Status: </strong>❌ Zapis niepotwierdzony</p>
                                    <p><strong>Płatności: </strong> Zaliczka 300zł </p>
                                    <p><strong>Najbliższe przypomnienie: </strong> Włać zaliczkę by potwierdzić zapis
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}