{% extends 'base.html.twig' %}

{% block title %}Ustawienia | CampMaker.com {% endblock %}

{% block body %}
<div class="container">
    <div>
        <h1>Ustawienia</h1>
        <hr>
        <div class="d-flex" style="gap: 1rem">
            <div class="d-flex flex-column w-25" style="min-width: 25%;">
                <a href="{{ path('app_participant_event') }}"><button class="btn btn-primary mb-2">
                        Informacje organizacyjne</button></a>
                <a href="{{ path('app_participant_event') }}"><button class="btn btn-primary mb-2">
                        Harmonogram</button></a>
                <a href="{{ path('app_participant_event') }}"><button class="btn btn-primary mb-2">
                        Kontakt z organizatorem
                    </button></a>
                <hr>
                <a href="{{ path('app_participant_settings') }}"><button
                        class="btn btn-primary mb-2">Ustawienia</button></a>
            </div>
            <div class="w-auto">
                <h2>Zmień dane</h2>
                <hr>
                <p>jakis formularz</p>
                <h2>Zmień dane 2</h2>
                <hr>
                <p>jakis formularz</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}